.form-style {
  width: 250px;
  height: 300px;
  margin-left: 2px;
  }


.header-lbl {
  display: block;
  font-family: opensansregular;
  font-weight: bold;
  color: black;
  font-size: 16px;

}

.input-palette-name {
  font-family: opensansregular;
  color: grey;
  width: 90%;
  margin: 10px;
  display: block;

}


.obj-palette {
  padding: 10px;

}


.palette-lbl {
  font-family: opensansregular;
  font-weight: 100;
  font-size: 13px;
  display: inline-block;
  color: gray;
  vertical-align: middle;


  }

#paletteFile {
  display: none;
}

.palette-button {
  display: block;
  width: 90%;
  margin: 10px;
  background: #6ee555;
  font-family: opensansregular;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  z-index: 1;
  margin-right: 10px;
  overflow: hidden;
  padding: 6px 13px;
  align-items: flex-start;
  text-align: center;

}


.invisible {
  visibility: hidden;
}

.noImage {
  color: red;
  margin-left: 35px;
  margin-right: 35px;

}
